<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2ZW5DG_NkCUI355n5UyIf8nLJ17voOf0</string>
	<key>GCM_SENDER_ID</key>
	<string>754282650165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muratcanaslan.greencard</string>
	<key>PROJECT_ID</key>
	<string>greencard-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>greencard-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754282650165:ios:02bbf759f9b83578c3ef7c</string>
</dict>
</plist>